<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Quiz_Game_in_Windows_Form_VS.Properties.Settings.LoginAppDBConnectionString"
            connectionString="Data Source=DESKTOP-VHICJFT;Initial Catalog=LoginAppDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>